<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAVIOR</title>
    <link rel="stylesheet" href="../static/css/slyle.css">
</head>
<body>
  <main class="main">
    <div class="container">
      <div class="content">
        <div class="main__side">
          <p class="main__side-text">SAVIORS</p>
        </div>
        <div class="main__content">
          <h1 class="main__content-title">Сервис анализа для профориентации молодежи</h1>
          <a class="main__content-button" href="/registration" >Регистрация</a>
          <div class="checkbox">
             <a href="https://saviorspolicies.nicepage.io/" class="checkbox__text">Согласен с политикой обработки персональных данных</a>
            <input type="checkbox" name="" id="" class="checkbox__check">
          </div>
          <div class="checkbox">
            <a href="https://saviorspolicies.nicepage.io/Cookies-policy.html" class="checkbox__text">Ознакомлен с политикой конфиденциальности cookies</a>
            <input type="checkbox" name="" id="" class="checkbox__check">
          </div>
          <div class="main__contacts">
            <h2 class="main__contacts-title">Контакты</h2>
            <div class="main__contacts-info">
              <p class="main__contacts-mail">reykvi@yandex.ru</p>
              <p class="main__contacts-telefon">+7 (964) 774 9777</p>
              <div class="main__contacts-imgs">
              </div>
            </div>
          </div>
        </div> 
      </div>

    </div>
  </main>
</body>
</html>